@import "tailwindcss";
@import "tw-animate-css";


@font-face {
    font-family: 'Slab-bold';
    src: url('../public/fonts/RobotoSlab-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'Slab-light';
    src: url('../public/fonts/RobotoSlab-Light.woff') format('woff'),
}

@font-face {
    font-family: 'Slab-regular';
    src: url('../public/fonts/RobotoSlab-Regular.woff') format('woff'),
}

@font-face {
    font-family: 'aalto';
    src: url('../public/fonts/aalto-display-personal-use.woff') format('woff'),
}

@font-face {
    font-family: 'anton';
    src: url('../public/fonts/anton.woff') format('woff'),
}

body {
    overflow-x: hidden;
  }





.underline-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.underline-animation:hover::after {
    width: 100%;
}

/* Active state */
.underline-animation.active::after {
    width: 100%;
}

/* Glow effect on hover */
.nav-item:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}




